<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

      body{
        background: #212529;
      }
      h1{
        color: white;
        text-align: center;
        font-family: 'Poppins';
      }
      h4 {
        color: white;
        text-align: center;
        font-family: 'Poppins';
      }
      p {
        color: white;
      }
  
      label {
        color: white;
      }

  *, body {
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      -moz-osx-font-smoothing: grayscale;
  }
  
  html, body {
      height: 100%;
      background-color: #212529;
      overflow: hidden;
  }
  
  
    </style>
  </head>
  <body>
    <header>
      <h1>EBook Store</h1>
    </header>
    <main>
      <h1> 404 Error: Page Not Found</h1>
      <br>
      <h4>Back to site: <a href="/books">Books</a></h4>
      <br>
    </main>
  </body>
</html>
