<!--         
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="card " style="width: 300px;">
            <img src="img/books/from-beginner-to-professional.jpg" class="card-img-top"
              alt="JavaScript from Beginner to Professional">
            <div class="card-body text-center">
              <h5 class="card-title">Laurence Lars Svekis, Maaike van Putten, Rob Percival</h5>
              <p class="card-text">JavaScript from Beginner to Professional</p>
              <a href="#" class="btn btn-dark btn-lg">Purchase</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="card " style="width: 300px;">
            <img src="img/books/eloquent-javascript.jpg" class="card-img-top"
              alt="Eloquent JavaScript, 3rd Edition: A Modern Introduction to Programming">
            <div class="card-body text-center">
              <h5 class="card-title">Marijn Haverbeke</h5>
              <p class="card-text">Eloquent JavaScript, 3rd Edition: A Modern Introduction to Programming</p>
              <a href="#" class="btn btn-dark btn-lg">Purchase</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="card " style="width: 300px;">
            <img src="img/books/coding-with-javascript.jpg" class="card-img-top"
              alt="Coding with JavaScript For Dummies 1st Edition">
            <div class="card-body text-center">
              <h5 class="card-title">Chris Minnick, Eva Holland</h5>
              <p class="card-text">Coding with JavaScript For Dummies 1st Edition</p>
              <a href="#" class="btn btn-dark btn-lg">Purchase</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="card " style="width: 300px;">
            <img src="img/books/modern-javascript.jpg" class="card-img-top"
              alt="Modern JavaScript for the Impatient 1st Edition">
            <div class="card-body text-center">
              <h5 class="card-title">Cay Horstmann</h5>
              <p class="card-text">Modern JavaScript for the Impatient 1st Edition</p>
              <a href="#" class="btn btn-dark btn-lg">Purchase</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="card " style="width: 300px;">
            <img src="img/books/the-good-parts.jpg" class="card-img-top"
              alt="JavaScript: The Good Parts: The Good Parts 1st Edition">
            <div class="card-body text-center">
              <h5 class="card-title">Douglas Crockford</h5>
              <p class="card-text">JavaScript: The Good Parts: The Good Parts 1st Edition</p>
              <a href="#" class="btn btn-dark btn-lg">Purchase</a>
            </div>
          </div>
        </div> -->
