<%- include('./partial/head.ejs') %>
<%- include('./partial/navbar.ejs') %>
<link rel="stylesheet" href="/feauturesStyle.css">


<div class="container">
<body>
  <!--start body tag-->


  <section>
    <article>
      <h1>Books sold around the globe:</h1>
      <div class="container table-responsive py-5"> 
<table class="table table-dark table-hover">
  <thead class="thead-dark">
  
    <tr>
      <th>Genre</th>
      <th>Continent</th>
      <th>Books Sold</th>
    </tr>

    <tr>
      <td>Classics</td>
      <td>Asia</td>
      <td>6,425 UNITS</td>
    </tr>

    <tr>
      <td>Crime</td>
      <td>North America</td>
      <td>7,563 UNITS</td>
    </tr>

    <tr>
      <td>Fantasy</td>
      <td>Europe</td>
      <td>5.4M UNITS</td>
    </tr>

    <tr>
      <td>Historical fiction</td>
      <td>Africa</td>
      <td>5,736 UNITS</td>
    </tr>

    <tr>
      <td>Horror</td>
      <td>Russia</td>
      <td>235 UNITS</td>
    </tr>

    <tr>
      <td>Humour and satire</td>
      <td>South America</td>
      <td>786 UNITS</td>
    </tr>

  </table>
  </thead>
        
      
    </article>
    <nav id="myright">

    </nav>

  </section>


</body>
</div>

<%- include('./partial/footer.ejs') %>

</html>