<head>
  <!--start head tag-->

  <title>EBook - Statistics</title>
  <!--add title here-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <style>
       @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

  body{
        font-family: 'Poppins', sans-serif;

      background: #212529;
    color: white;
    }
    h1{
      color: white;
      text-align: center;
      
    }
    p {
      color: white;
    }
    section {
justify-content: center;    }
    label {
      color: white;
    }

    table, tr, td, th{
      color: white;
      
    }
  </style>

</head>
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">EBook</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
              <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Features">Statistics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Register">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
<body>
  <!--start body tag-->


  <section>
    <article>
      <h1>Books sold around the globe:</h1>
      <div class="container table-responsive py-5"> 
<table class="table table-dark table-hover">
  <thead class="thead-dark">
  
    <tr>
      <th>Genre</th>
      <th>Continent</th>
      <th>Books Sold</th>
    </tr>

    <tr>
      <td>Classics</td>
      <td>Asia</td>
      <td>6425</td>
    </tr>

    <tr>
      <td>Crime</td>
      <td>North America</td>
      <td>7563</td>
    </tr>

    <tr>
      <td>Fantasy</td>
      <td>Europe</td>
      <td>5473926</td>
    </tr>

    <tr>
      <td>Historical fiction</td>
      <td>Africa</td>
      <td>5736</td>
    </tr>

    <tr>
      <td>Horror</td>
      <td>Russia</td>
      <td>235</td>
    </tr>

    <tr>
      <td>Humour and satire</td>
      <td>South America</td>
      <td>786</td>
    </tr>

  </table>
  </thead>
        
      
    </article>
    <nav id="myright">

    </nav>

  </section>


</body>
</div>
  <footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
    <a class="text-white" href="https://google.com/"></a>
  </div>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="https://google.com/">EBook.com - Abdulrahman Al Ageeli (219110612) - Abdullah Al Zahrani (219110334)</a>
  </div>
  <!-- Copyright -->
</footer>
</html>