<html>
<!--start html tag-->

<head>
  <!--start head tag-->
  <title>EBook</title>
  <!--add title here-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <style>
    body{
      background: #212529;
    }

      .card {
      margin-top: 20px;
        margin-left: 30px;
        margin-bottom: 20px;
         box-shadow: 2px 2px 5px rgb(0, 0, 0);
  border-radius: 30px;
  background: #f8f9fa;
        color: white;
      }
  </style>
  <!--link external css-->
</head>
<!--end head-->

<div class="d-flex"></div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">EBook</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Featurese">Statistics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Register">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <body>
    <div class="card">
  <div class="card-header">
    Quote
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>“A reader lives a thousand lives before he dies . . . The man who never reads lives only one.”</p>
      <footer class="blockquote-footer"> <cite title="Source Title">George R.R. Martin</cite></footer>
    </blockquote>
  </div>
</div>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="card " style="width: 300px;">
            <img src="img/books/the-definitive-guide.jpg" class="card-img-top" alt="Javascript, The definitive guide">
            <div class="card-body text-center">
              <h5 class="card-title">David Flanagan</h5>
              <p class="card-text">JavaScript: The Definitive Guide: Master the World's Most-Used Programming Language
                7th Edition</p>
              <a href="#" class="btn btn-dark btn-lg">Purchase</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="card " style="width: 300px;">
            <img src="img/books/from-beginner-to-professional.jpg" class="card-img-top"
              alt="JavaScript from Beginner to Professional">
            <div class="card-body text-center">
              <h5 class="card-title">Laurence Lars Svekis, Maaike van Putten, Rob Percival</h5>
              <p class="card-text">JavaScript from Beginner to Professional</p>
              <a href="#" class="btn btn-dark btn-lg">Purchase</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="card " style="width: 300px;">
            <img src="img/books/eloquent-javascript.jpg" class="card-img-top"
              alt="Eloquent JavaScript, 3rd Edition: A Modern Introduction to Programming">
            <div class="card-body text-center">
              <h5 class="card-title">Marijn Haverbeke</h5>
              <p class="card-text">Eloquent JavaScript, 3rd Edition: A Modern Introduction to Programming</p>
              <a href="#" class="btn btn-dark btn-lg">Purchase</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="card " style="width: 300px;">
            <img src="img/books/coding-with-javascript.jpg" class="card-img-top"
              alt="Coding with JavaScript For Dummies 1st Edition">
            <div class="card-body text-center">
              <h5 class="card-title">Chris Minnick, Eva Holland</h5>
              <p class="card-text">Coding with JavaScript For Dummies 1st Edition</p>
              <a href="#" class="btn btn-dark btn-lg">Purchase</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="card " style="width: 300px;">
            <img src="img/books/modern-javascript.jpg" class="card-img-top"
              alt="Modern JavaScript for the Impatient 1st Edition">
            <div class="card-body text-center">
              <h5 class="card-title">Cay Horstmann</h5>
              <p class="card-text">Modern JavaScript for the Impatient 1st Edition</p>
              <a href="#" class="btn btn-dark btn-lg">Purchase</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="card " style="width: 300px;">
            <img src="img/books/the-good-parts.jpg" class="card-img-top"
              alt="JavaScript: The Good Parts: The Good Parts 1st Edition">
            <div class="card-body text-center">
              <h5 class="card-title">Douglas Crockford</h5>
              <p class="card-text">JavaScript: The Good Parts: The Good Parts 1st Edition</p>
              <a href="#" class="btn btn-dark btn-lg">Purchase</a>
            </div>
          </div>
        </div>
    
  </body>
</div>

  <footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
    <a class="text-white" href="https://google.com/"></a>
  </div>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="https://google.com/">EBook.com - Abdulrahman Al Ageeli (219110612) - Abdullah Al Zahrani (219110334)</a>
  </div>
  <!-- Copyright -->
</footer>
</html>