<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
      <a class="text-white" href="https://google.com/"></a>
    </div>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="https://google.com/">EBook.com - Abdulrahman Al Ageeli (219110612) - Abdullah Al Zahrani (219110334) - abdalaziz Aldultli(219110368)</a>
    </div>
    <!-- Copyright -->
  </footer>